<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <title>View City</title>
</head>
<body>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">City information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form enctype="multipart/form-data" method="post" th:action="@{/city/view}" th:object="${city}">
        <p>City Name: <span th:text="${view.cityName}"></span>.</p>
        <p>National: <span th:text="${view.national.getNationName()}"></span>.</p>
        <p>Area <span th:text="${view.area}"></span>.</p>
        <p>Population <span th:text="${view.population}"></span>.</p>
        <p>Gross Domestic Product <span th:text="${view.gdp}"></span>.</p>
        <textarea cols="30" rows="10" th:text="${view.description}" >Description</textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<a th:href="@{/city/list}">
  <button>Back</button>
</a>

</body>
</html>